<template name="showProduct">
  <div class="list-group-item row">
    <div class="col-xs-12 col-md-4" >
      <img src="{{imageSrc}}" class="product">
    </div>
    <div class="col-xs-12 col-md-4" >
      <div>
      <p class="heading1">{{name}}</p>
      <p class="heading2">${{price}}0</p>
      <p class="text">{{desc}}</p>
      </div>
      <div>
      Quantity:
      <input class="btn btn-default" type="number" min="1" max="6" value="1" id="{{name}}">
      <input class="btn" type="image" src="/Images/AddButton.jpg" id="addToCart" width="80px">
      </div>
    </div>
    <div>
    </div>
  </div>
</template>