.title
{
  font-family: "Showcard Gothic";
  color: #EBB622;
  font-size: xx-large;
  text-align:center;
}
.text
{
  font-family:"Segoe UI";
  font-size: 14px;
}
.heading1
{
  font-family: "Showcard Gothic";
  font-size: 19px;
  font-weight: normal;
  font-style: italic;
  color: #FF9933;
  text-align: center;
}
.heading2
{
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: bold;
  color: #ff6600;
  text-align: center;
}
.error
{
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: bold;
  color: #ff1100;
  text-align: left;
}
.fixed
{
  position: fixed;
  top: 350px;
  right:65px;
}
.orderBox {
  border: 3px solid  #FF9933 ;
  background-color: #eeeeee;
}
.orderBoxPad {
  border: 3px solid  #FF9933 ;
  padding: 25px;
  background-color: #eeeeee;
}
.bannertop {
  background-image:url('/Images/PizzaTopBanner.jpg');
  background-size:contain;
  width:100%;
  min-height:55px;
}
.bannerbot {
  background-image:url('/Images/PizzaBottomBanner.jpg');
  background-size:contain;
  width:100%;
  min-height:55px;
}
.complete {
  background-color: lightgreen;
}
.inProgress {
  background-color: red;
}