<template name="deliveryDetails">
  <td>
    <p class="heading1">Location:</p>
  </td>
  <td>
    <select id="location">
      <option value="5">WellingtonCBD</option>
      <option value="10">Outside WellingtonCBD</option>
    </select>
    <script>
      document.getElementById("location").selectedIndex = -1;
    </script>
  </td>
  <td>
      <h5 class="error">{{locationError}}</h5>
  </td>
</template>

<template name="deliveryDetailsNumbers">
  <h4 class="heading1">Total Order Amount: ${{total}}</h4>
  <h4 class="heading1">{{deliveryCharge}}</h4>
  <h4 class="heading1">Total Amount to Pay:</h4>
  <h4 class="heading2">{{totalWithDelivery}}</h4>
</template>