<template name="details">
  <div class="list-group">
    <div class="list-group-item row">
      <div class="col-xs-4">
        <p class="heading1">Your Order:</p>
      </div>
      <div class="col-xs-4 orderBoxPad">
        {{#if order}}
        {{#each order}}
        {{> orderListContent}}
        {{/each}}
        {{/if}}
      </div>
      <div class="col-xs-4">
      {{> Template.dynamic template=deliveryModeNumbers}}
      </div>
    </div>

    <div class="list-group-item row">
      <div class="col-xs-4">
        <p class="heading1">Name:</p>
      </div>
      <div class="col-xs-4">
        <input type="text" id="name" required />
      </div>
      <div class="col-xs-4">
        <h5 class="error">{{nameError}}</h5>
      </div>
    </div>

    <div class="list-group-item row">
      <div class="col-xs-4">
        <p class="heading1">Phone:</p>
      </div>
      <div class="col-xs-4">
        <input type="text" id="phone" required/>
      </div>
      <div class="col-xs-4">
        <h5 class="error">{{phoneError}}</h5>
      </div>
    </div>

    <div class="list-group-item row">
      <div class="col-xs-4">
        <p class="heading1">Address:</p>
     </div>
      <div class="col-xs-4">
        <input type="text" id="address" required/>
      </div>
      <div class="col-xs-4">
        <h5 class="error">{{addressError}}</h5>
      </div>
    </div>

    {{> Template.dynamic template=deliveryMode}}

    <div align="center" >
      <input type="image" src="/Images/ConfirmButton.jpg" id="confirm" width="200px" height="140px"/>
    </div>
  </div>
</template>