<template name="pickUpDetails">
  <div class="list-group-item row">
    <div class="col-xs-4">
      <p class="heading1">Date:</p>
     </div>
    <div class="col-xs-4">
      <input type="text" id="date" placeholder="dd/mm/yyyy" required/>
     </div>
    <div class="col-xs-4">
        <h5 class="error">{{dateError}}</h5>
    </div>
  </div>

  <div class="list-group-item row">
    <div class="col-xs-4">
      <p class="heading1">Time:</p>
    </div>
    <div class="col-xs-4">
      <select id="time">
        <option value="9am">9 A.M.</option>
        <option value="10am">10 A.M.</option>
        <option value="11am">11 A.M.</option>
        <option value="12pm">12 P.M.</option>
        <option value="1pm">1 P.M.</option>
        <option value="2pm">2 P.M.</option>
        <option value="3pm">3 P.M.</option>
        <option value="4pm">4 P.M.</option>
        <option value="5pm">5 P.M.</option>
        <option value="6pm">6 P.M.</option>
        <option value="7pm">7 P.M.</option>
        <option value="8pm">8 P.M.</option>
        <option value="9pm">9 P.M.</option>
      </select>
    </div>
    <div class="col-xs-4">
        <h5 class="error">{{timeError}}</h5>
    </div>
  </div>
</template>

<template name="pickUpDetailsNumbers">
  <h4 class="heading1">Total Order Amount: ${{total}}</h4>
</template>